@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #180931;
  --secondary-color: #f55589;
  --yellow-color: #fbce3f;
  --light-purple-color: #390D7B;
  --lilac-color: #75559D;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

/* 
  bright-pink: #f3000d;
  light-pink: #f55589;
  yellow: #fbce3f;
  dark-purple: #180931;
  orange: #ed5d29;
  mint: #81E4C9;
  light-purple: #390D7B;
  lilac: #75559D;
 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}